body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(135deg, #fceabb, #f8b500);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    transition: 0.4s;
}

.dark-mode {
    background: linear-gradient(135deg, #1e1e1e, #2c3e50);
    color: white;
}

.hidden {
    display: none;
}

.center-box {
    background: white;
    padding: 30px;
    border-radius: 20px;
    text-align: center;
    box-shadow: 0 10px 25px rgba(0,0,0,0.2);
}

.container {
    background: rgba(255,255,255,0.95);
    width: 500px;
    padding: 25px;
    border-radius: 20px;
    box-shadow: 0 15px 35px rgba(0,0,0,0.3);
    max-height: 90vh;
    overflow-y: auto;
}

.dark-mode .container {
    background: #2c2c2c;
}

.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

textarea {
    width: 100%;
    height: 120px;
    border-radius: 15px;
    padding: 10px;
    border: 1px solid #ddd;
    resize: none;
    margin-top: 10px;
}

.save-btn {
    margin-top: 10px;
    padding: 10px;
    width: 100%;
    border-radius: 20px;
    border: none;
    background: #f8b500;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.save-btn:hover {
    background: #e09e00;
}

#entries {
    margin-top: 15px;
}

.entry {
    background: #fff8dc;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.dark-mode .entry {
    background: #444;
}